[filter]
	[media]
		required=true
		clean=git media clean %f
		smudge=git media smudge %f
	[hawser]
		clean=git hawser clean %f
		smudge=git hawser smudge %f
		required=true
	[lfs]
		clean=git lfs clean -- %f
		smudge=git lfs smudge -- %f
		process=git-lfs filter-process
		required=true
[user]
	name=Carl Vitullo
	email=carl.vitullo@gmail.com
[push]
	default=simple
[alias]
	lg=log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cob=checkout -b
	co=checkout
	col=checkout -
	com=checkout master
	fixup=commit --fixup
	hh=reset --hard head^
	rhm=reset --hard origin/master
	wip=commit -m 'WIP' --no-verify
	cm=commit -m


[branch]
	[master]
		mergeoptions=--no-ff
[core]
	editor=subl -n -w
[rebase]
	autosquash=true
[pull]
	ff = only
